<div class="container py-3">
  <header>
    <div
      class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
    >
      <a class="navbar-brand" href="/">
        <img
          src="assets/logo.png"
          alt=""
          width="70"
          height="50"
          class="d-inline-block align-text-top"
        />
        NG-FOOD
      </a>

      <nav class="navbar-container d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a
          class="item-nav me-3 py-2 text-decoration-none"
          routerLinkActive="active"
          routerLink=""
          [routerLinkActiveOptions]="{ exact: true }"
          >Cardápio</a
        >
        <a
          class="item-nav me-3 py-2 text-decoration-none"
          routerLinkActive="active"
          routerLink="/bebidas"
          >Bebidas</a
        >
        <a
          class="item-nav me-3 py-2 text-decoration-none"
          routerLinkActive="active"
          routerLink="/comidas"
          >Comidas</a
        >
        <a
          class="item-nav me-3 py-2 text-decoration-none"
          routerLinkActive="active"
          routerLink="/pedido"
        >
          <span class="badge badge-pill btn btn-primary">{{
            buscaTotalItem()
          }}</span>
          Pedido
        </a>
      </nav>
    </div>
  </header>
</div>
